<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".LApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainActivityTheme.Starting">
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:enabled="true"
            android:exported="true"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".heisei.DcdHeiseiActivity"
            android:exported="false"
            android:taskAffinity=""
            android:theme="@style/L.Theme.Activity.Swipe" />

        <activity
            android:name=".faiz.FaizMenuActivity"
            android:exported="false"
            android:taskAffinity=""
            android:theme="@style/L.Theme.Activity.Swipe" />

    </application>

</manifest>